.code.segment pre {
  margin: 0;
  padding: 1em;
}

.code.segment pre > code {
  padding: 0;
  background: transparent;
  border: none;
}

.demo.segment .ui.top.attached.label .detail {
  float: right;
  background: rgba(0, 0, 0, 0.1);
  margin: -0.75em -1em -0.75em 0.5em;
  padding: 0.75em 1em;
}