/**
 * CSS used with Demo shortcode.
 */

.demo.segment .ui.top.attached.label:first-child + :not(.attached) {
  margin: 3.5rem 0 1rem !important;
}

.demo.segment .button:not(.bottom):not(.increment_quantity):not(.decrement_quantity),
.demo.segment .ui.label {
  margin-bottom: 0.5em;
}
.demo.segment .ui.labeled.input > .ui.label {
  margin-bottom: 0;
}
