/*!
 * # Semantic UI - Transition
 * http://github.com/semantic-org/semantic-ui/
 *
 *
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 */


/*******************************
            Theme
*******************************/

@type    : 'module';
@element : 'transition';

/*--------------------
   Site Variables
---------------------*/

/* Default site.variables */
@import "@{themesFolder}/default/globals/site.variables";

/* Component's site.variables */
@import "@{themesFolder}/@{theme}/globals/site.variables";

/* Site theme site.variables */
@import "@{siteFolder}/globals/site.variables";


/*-------------------
 Component Variables
---------------------*/

/* Default */
@import "@{themesFolder}/default/@{type}s/@{element}.variables";

/* Packaged Theme */
@import "@{themesFolder}/@{theme}/@{type}s/@{element}.variables";

/* Site Theme */
@import "@{siteFolder}/@{type}s/@{element}.variables";


/*******************************
          Transitions
*******************************/

.transition {
  animation-iteration-count: 1;
  animation-duration: @transitionDefaultDuration;
  animation-timing-function: @transitionDefaultEasing;
  animation-fill-mode: @transitionDefaultFill;
}

/*******************************
            States
*******************************/


/* Animating */
.animating.transition {
  backface-visibility: @backfaceVisibility;
  visibility: visible !important;
}

/* Loading */
.loading.transition {
  position: absolute;
  top: -99999px;
  left: -99999px;
}

/* Hidden */
.hidden.transition {
  display: none;
  visibility: hidden;
}

/* Visible */
.visible.transition {
  display: block !important;
  visibility: visible !important;
/*  backface-visibility: @backfaceVisibility;
  transform: @use3DAcceleration;*/
}

/* Disabled */
.disabled.transition {
  animation-play-state: paused;
}

/*******************************
          Variations
*******************************/

.looping.transition {
  animation-iteration-count: infinite;
}


/*-------------------
 Component Overrides
---------------------*/

/* Packaged Theme */
@import "@{themesFolder}/@{theme}/@{type}s/@{element}.overrides";

/* Site Theme */
@import "@{siteFolder}/@{type}s/@{element}.overrides";

