/* ==========================================================================
   Captioned Theme Styles
   ========================================================================== */
.envira-gallery-theme-captioned .envira-gallery-item:hover {
  opacity: .5; }

.envira-gallery-theme-captioned .envira-gallery-captioned-data {
  background: #f7f7f8;
  padding: 10px;
  border: 1px solid #e7e7e8;
  border-top: 0 none;
  position: relative;
  clear: both; }

.envira-gallery-theme-captioned .envira-gallery-captioned-text {
  margin: 0;
  text-align: center;
  color: #000; }

.envira-gallery-theme-captioned .envira-gallery-captioned-text p {
  margin: 0;
  padding: 0; }

/**
* Remove "White Line"
*/
div.envirabox-overlay.envirabox-overlay-fixed .envirabox-wrap .envirabox-skin div.envirabox-outer div.envirabox-inner {
  display: inline !important; }

/**
* Pagination
*/
.envira-gallery-theme-captioned .envira-pagination a {
  text-decoration: none;
  background: #f7f7f8;
  padding: 10px;
  border: 1px solid #e7e7e8;
  color: #000; }
  .envira-gallery-theme-captioned .envira-pagination a:hover {
    opacity: .5; }
.envira-gallery-theme-captioned .envira-pagination span {
  text-decoration: none;
  background: #f7f7f8;
  padding: 10px;
  border: 1px solid #e7e7e8;
  color: #000; }
  .envira-gallery-theme-captioned .envira-pagination span.current {
    opacity: .5; }

.envira-pagination-previous-next-only a.page-numbers,
.envira-pagination-previous-next-only span.page-numbers {
  display: none; }
.envira-pagination-previous-next-only a.prev, .envira-pagination-previous-next-only a.next {
  display: inline; }

/**
* Lightbox
*/
.envirabox-skin.envirabox-theme-captioned {
  padding: 0 !important;
  border-radius: 0 !important;
  /**
  * Titles
  */ }
  .envirabox-skin.envirabox-theme-captioned .envirabox-title-float-wrap span.child {
    background: #f7f7f8;
    color: #000;
    text-shadow: none;
    border-radius: 0; }
  .envirabox-skin.envirabox-theme-captioned .envirabox-title-inside-wrap {
    padding: 10px;
    color: #000;
    text-shadow: none; }
  .envirabox-skin.envirabox-theme-captioned .envirabox-title-over-wrap {
    background: #f7f7f8;
    color: #000;
    text-shadow: none; }
