/**
 * Polylang language select widget.
 */
.widget_polylang select {
  display: none;
}

.widget_polylang .chap-polylang i.dropdown.icon {
  display: none;
}

.widget_polylang.header-widget .text, .widget_polylang.menu-widget .text {
  font-size: 0;
  line-height: 0;
}

.widget_polylang.header-widget .text .flag, .widget_polylang.menu-widget .text .flag {
  margin: 0 !important;
}

.widget_polylang.header-widget .chap-polylang.dropdown .menu {
  z-index: 120;
}

.widget_polylang.menu-widget .chap-polylang.dropdown {
  height: 100%;
}

/**
 * Polylang widget in Sidebar menu.
 */
#sidebar_menu .widget_polylang .text {
  font-size: initial;
  line-height: initial;
}

#sidebar_menu .widget_polylang .text .flag {
  margin-right: 0.78rem !important;
}
