/**
 * Header widgets.
 */
.ui.menu > .header-widgets.menu {
  margin-top: @chapHeaderWidgetsMarginTop;
  margin-bottom: @chapHeaderWidgetsMarginBottom;

  /**
   * Wrap header widgets.
   */
  flex-wrap: wrap;

  /**
   * Position header widgets at the
   * top right corner of the page.
   */
  align-self: flex-start;
  justify-content: flex-end;

  /**
   * Center menu widgets in mobile.
   */
  @media only screen and (max-width: @chapMobileLayoutBreakpoint) {
    justify-content: center;

    /**
     * .right.menu's have margin-left: auto,
     * change margin-right to auto as well
     * to make it centered on mobile.
     */
    &.right {
      margin-right: auto;
    }
  }


  /**
   * Header widget.
   */
  & > .widget.header-widget.item {
    /*margin-left: 0.25em;
    margin-bottom: 0.5em;*/
    margin: @chapHeaderWidgetMargin;
    padding: @chapHeaderWidgetPadding;
    align-self: @chapHeaderWidgetAlignSelf;
  }
}

/**
 * Menu widgets
 */
.ui.menu > .menu-widgets.menu {
  .item > .textwidget {
    /**
     * Item inside a text widget.
     */
    .item {
      padding: 0;

      &:before {
        width: 0;
      }

      &:hover {
        background-color: transparent;
      }
    }
  }
}

/**
 * Remove margin from last buttons.
 */
.header-widgets.menu {
  & > div {
    .ui.button:last-of-type {
      margin-right: 0;
    }
  }
}

/**
 * Text widget in header.
 */
.header-widgets.menu {
  .textwidget {
    user-select: auto;

    /**
     * Using the "Automatically add paragraphs" option
     * should help separate content horizontally as well.
     */
    & > p {
      margin-right: 0.5em;
      margin-left: 0.5em;
    }
  }
}

/**
 * Prevent overflowing in text widget.
 */
.textwidget {
  img,
  select {
    max-width: 100%;
  }
}

/**
 * Recent comments widget.
 */
.widget_recent_comments,
.widget_recent_entries {
  & > ul {
    padding-left: 0;
  }
}

/**
 * Category posts widget.
 */
.cat-post-widget {
  p {
    margin: 0;
    line-height: initial;
  }
}

/**
 * RSS widget.
 */
.widget_rss {
  cite.user {
    font-style: normal;
  }

  .ui.header {
    a {
      color: @textColor;
    }

    &.inverted a {
      color: @invertedTextColor;
    }
  }

  .ui.inverted.feed {
    .summary {
      color: @invertedTextColor;
    }

    .date {
      color: @invertedLightTextColor;
    }
  }
}

/**
 * Remove Search Widget's right padding if
 * it's the last item in a secondary menu.
 */
#primary_menu {
  &.secondary {
    .right.menu-widgets.menu {
      & > .widget.item:last-child {
        &.widget_search {
          padding-right: 0;
        }
      }
    }
  }
}

/**
 * WooCommerce widgets.
 * @see woocommerce.scss
 */
