/**
 * Document body.
 */
body {
  /**
   * Show scrollbar.
   */
  overflow-y: @chapBodyOverflowY;

  /**
   * Content that resides in the viewport.
   */
  .pusher {
    /**
     * Full height container for:
     *  - Masthead
     *  - Main content
     *     - With full width page template: <main>
     *     - With other templates: .main.grid
     *  - Footer
     */
    .full.height {
      /**
       * Use flexbox to have a sticky footer.
       */
      display: flex;
      flex-direction: column;
      min-height: 100vh;

      /**
       * Retain height.
       */
      .masthead.segment {
        flex: 0 0 auto;
      }

      /**
       * Grow the main container to
       * fill remaining viewport space.
       */
      & > main,
      & > .main.grid {
        flex: 1 1 auto;
      }

      /**
       * Make the main column first on mobile devices,
       * leaving the 0-2 sidebars on the bottom.
       */
      .main.grid {
        main {
          @media only screen and (max-width: @chapMobileLayoutBreakpoint) {
            order: @chapMainContentMobileOrder;
          }
        }

        /**
         * Separate from the footer.
         */
        margin-bottom: @chapMainGridMarginBottom;
      }

      /**
      * Sidebars.
      */
      aside.sidebar {
        /**
        * Remove top padding from first widget in sidebar
        */
        section:first-child {
          padding-top: 0;
        }
      }

      /**
       * Retain height.
       */
      .footer.segment {
        flex: 0 0 auto;
      }
    }
  }
}

/**
 * The main content container.
 */
main {
  /**
   * Single post/page content.
   */
  article {
    /**
     * Header meta when title is not in masthead.
     */
    .meta.sub.header {
      & > time {
        /**
         * Separate time from author.
         */
        margin: @chapArticleMetaDateMargin;
      }
    }

    /**
     * Images.
     */
    img {
      max-width: @chapArticleImageMaxWidth;
      height: @chapArticleImageHeight;
    }

    /**
     * Centered featured image.
     */
    .ui.featured-image.segment {
      background-size: cover;
      background-position: center center;
      padding: 0;
      height: @chapArticleFullWidthFeaturedImageHeight;
      overflow: hidden;
      & > a {
        display: flex;
        min-width: 100%;
        min-height: 100%;
        & > img {
          flex-basis: 100%;
          opacity: 0;
        }
      }
    }
  }
}
