/**
 * Brand.
 */
.ui.brand.segment {
  padding: @chapBrandContainerPadding;

  /**
   * Contains the Brand text, tagline and/or image.
   */
  .ui.brand.header {
    display: inline-block;
    font-weight: @chapBrandTextFontWeight;

    /**
     * Title/tagline.
     */
    .content {
      vertical-align: @chapBrandTextVerticalAlignment;
      text-align: @chapBrandTextAlignDefault;
      padding: @chapBrandTextPadding;

      &.logo-right {
        margin-right: @chapBrandLogoTextSpacing;
      }

      &.logo-above {
        text-align: @chapBrandTextAlignLogoAbove;
      }

      /**
       * If logo is hidden on mobile we don't need any margin on mobile.
       */
      @media only screen and (max-width: @chapMobileLayoutBreakpoint) {
        &.logo-mobile-invisible {
          margin-right: 0;
        }
      }
    }

    /**
     * Logo.
     */
    .image {
      margin: @chapBrandLogoImageMargin;

      &.left {
        margin-right: @chapBrandLogoTextSpacing;

        /**
        * If text is hidden on mobile we don't need any margin on mobile.
        */
        @media only screen and (max-width: @chapMobileLayoutBreakpoint) {
          &.text-mobile-invisible {
            margin-right: 0;
          }
        }
      }

    }
  }
}
