
/**
 * Utility menu is a container for brand item,
 * header widgets or compact table of contents item.
 *
 * It has the menu class to inherit it's properties
 * because they are usually displayed in conjunction
 * with main menu.
 */
.ui.utility.menu {
  /**
   * Remove the secondary menu styles.
   */
  &.secondary {
    border: 0;
    background: none;
    box-shadow: none;
  }

  /**
   * Display as a column in mobile.
   */
  @media only screen and (max-width: @chapMobileLayoutBreakpoint) {
    flex-direction: column;
  }

  /**
   * Brand in utility menu.
   */
  .brand.item {
    /**
     * Move the brand item to the center in mobile.
     */
    @media only screen and (max-width: @chapMobileLayoutBreakpoint) {
      align-self: center;
    }
  }

  /**
   * Header widgets in utility menu.
   */
  .header-widgets.menu {
    /**
     * Move the header widgets to the top on mobile.
     */
    @media only screen and (max-width: @chapMobileLayoutBreakpoint) {
      order: -1;
    }
  }

  /**
   * Table of contents displayed next to brand
   * (in header templates with compact menu).
   */
  .compact.toc.item {
    display: inline-flex;
    align-items: baseline;
    align-self: center;
    flex-wrap: nowrap;
    margin: 0;
    font-size: @chapCompactTocItemFontSize;
  }
}

/**
 * Flex grid - a more flexible grid system for headers.
 */
.ui.flex-grid {
  @import "@{themesFolder}/default/collections/grid.variables";
  @import "@{themesFolder}/@{theme}/collections/grid.variables";
  @import "@{siteFolder}/collections/grid.variables";

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: -(@rowSpacing / 2) -(@gutterWidth / 2);

  & > .column {
    padding: (@rowSpacing / 2) (@gutterWidth / 2);
  }

  @media only screen and (max-width: @chapMobileLayoutBreakpoint) {
    flex-direction: column;
  }

  /**
   * Header landing widgets.
   */
  &.header-template-landing-widgets {
    & > .mainmenu.column {
      @media only screen and (max-width: @chapMobileLayoutBreakpoint) {
        order: @chapHeaderLandingWidgetsMenuContainerMobileOrder;
      }
    }
  }

  /**
   * Header grid.
   */
  &.header-template-grid {
    & > .brand.column {
      min-width: @chapHeaderGridBrandContainerWidth;
      display: flex;
      align-items: @chapHeaderGridBrandContainerAlignment;
      justify-content: @chapHeaderGridBrandContainerPosition;
      @media only screen and (max-width: @chapMobileLayoutBreakpoint) {
        justify-content: center;
      }
    }
  }

  /**
   * Header centered menu.
   */
  &.header-template-centered-menu {
    & > .static.column {
      min-width: @chapHeaderCenteredMenuSideColumnsWidth;
    }
    & > .brand.column {
      display: flex;
      align-items: @chapHeaderCenteredMenuBrandContainerAlignment;
      justify-content: @chapHeaderCenteredMenuBrandContainerPosition;
      @media only screen and (max-width: @chapMobileLayoutBreakpoint) {
        order: 1;
        justify-content: center;
      }
    }
    & > .mainmenu.column {
      display: flex;
      align-items: @chapHeaderCenteredMenuMenuContainerAlignment;
      justify-content: @chapHeaderCenteredMenuMenuContainerPosition;
      @media only screen and (max-width: @chapMobileLayoutBreakpoint) {
        order: @chapHeaderCenteredMenuMenuContainerOrderMobile;
      }
    }
  }

}
