/**
 * The main menu.
 */
#primary_menu {
  /**
  * When the main menu is type "secondary" (without container),
  * don't use the default Semantic UI border under every item.
  */
  &.secondary {
    border: 0;
    background: none;
    box-shadow: none;
  }

  /**
   * Don't flip right menu item dividers in compact menus.
   */
  &.compact {
    .right.item::before,
    .right.menu > .item::before {
      right: 0;
      left: auto;
    }
  }

  /**
   * Center items in menu when overflowing.
   * Only meant for compact menus.
   */
  &.centered {
    justify-content: center;
  }

  /**
  * All items in the main menu.
  */
  .item {}

  /**
  * Table of contents item in the main menu.
  * Shown only on small screens.
  */
  .toc.item {
    display: none;
    align-items: baseline;
    align-self: center;
    flex-wrap: nowrap;

    /**
    * Remove menu item separator as it's the only visible item.
    */
    &:before {
      width: 0;
    }
  }

  /**
  * Larger table of contents item in secondary menus only.
  */
  &.secondary .toc.item {
    font-size: @chapSecondaryTocItemFontSize;
    margin: 0;
  }

  /**
  * Menu widgets container in main menu.
  */
  /*.right.menu-widgets.item {
    padding: 0.5em 0.5em 0 0.5em;
  }*/

  /**
  * Mobile menu.
  *
  * All items are hidden, table of contents item is shown.
  */
  @media only screen and (max-width: @chapMobileMenuBreakpoint) {
    /**
    * Center the remaining items (table of contents item).
    */
    flex-direction: column;
    justify-content: center;

    /**
    * Hide all menu items.
    */
    .item {
      display: none;
    }

    /**
    * Show table of contents item.
    */
    .toc.item {
      display: inline-flex;
    }

    /**
    * Menus with container should no longer span the full width of the page.
    */
    &:not(.secondary) {
      display: inline-flex;
      margin: 0;
      vertical-align: middle;
    }
  }

  /**
  * Mobile layout.
  */
  @media only screen and (max-width: @chapMobileLayoutBreakpoint) {
    /**
    * Return floated menus to center.
    */
    &.floated {
      float: none;
    }
  }
}
