/**
 * Contact Form 7.
 * @see semantic-ui/chap/collections/message.overrides
 */

/**
 * Instagram feed.
 */
.sbi {
  #sbi_load {
    .ui.button {
      margin-bottom: 0.5em;
    }
  }
}


/**
 * jQuery.dotdotdot plugin trigger height.
 */
.dot-ellipsis {
  max-height: 6em;

  &.short {
    max-height: 3em;
  }

  &.long {
    max-height: 12em;
  }

  /**
   * Not really full height.
   * This is keyword is meant for slider only.
   * Just using a big value here.
   */
  &.full {
    max-height: 24em;
  }
}

/**
 * Ellipsis (manual).
 * Use .ellipsis[.short|.long|.full] for automatic ellipsis (shortcodes only).
 */
.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/**
 * Lazyloaded image.
 */
.lazyload,
.lazyloading {
	opacity: @chapImageLazyLoadOpacity;
}
.lazyloaded {
	opacity: @chapImageLazyLoadedOpacity;
	transition: @chapImageLazyLoadTransition;
}
