/**
 * The menu displayed when user scrolls below the masthead.
 */
#sticky_menu {
  /**
   * Prevent the header from increasing the menu's height.
   */
  .header.item {
    padding-top: 0;
    padding-bottom: 0;
  }

  /**
   * Table of contents item.
   */
  .toc.item {
    display: none;

    .sidebar.icon {
      margin: 0;
    }
  }

  /**
   * Show floating label below it's container, not above.
   */
  .ui.floating.label {
    top: 75%;
  }

  /**
   * Tablet menu.
   *
   * All items are hidden, header and table of contents item is shown.
   */
  @media only screen and (max-width: @chapMobileMenuBreakpoint) {
    /**
     * Hide all items but the header item.
     */
    .item:not(.header) {
      display: none;
    }

    /**
     * Show the table of contents item.
     */
    .toc.item {
      display: flex;
    }
  }

} /* Sticky menu */
