
/**
 * Footer styles.
 */
.ui.footer.segment {
  z-index: @chapFooterZIndex;
  padding: 0;
  border: 0;

  /**
   * Footer mini image.
   */
  .ui.footer_image.image {
    display: block;
    margin: @chapFooterImageMargin;
  }

  /**
  * Always center footer menu.
  */
  .ui.footer-menu.segment {
    text-align: @chapFooterMenuAlignment;

    .chap-menu {
      /**
      * No dropdowns in footer menus.
      */
      .dropdown.icon {
        display: none;
      }
    }
  }

  /**
   * Footer background image is displayed in :after.
   */
  &:after {
    z-index: @chapFooterZIndex - 20;
  }
}

