/**
 * The menu displayed to mobile users.
 */
#sidebar_menu {
  /**
   * Don't show submenus in single items.
   *
   * This means hierarchy is disabled, but
   * empty submenu containers are still
   * rendered due to the item having children.
   */
  .single.item {
    .menu {
      display: none;
    }
  }

  /**
   * Menu item with only an icon should be shown on the left.
   */
  .icon.item {
    i.icon {
      float: none;
      margin-left: 0;
      margin-right: auto;
    }
  }

  /**
   * Widgets in sidebar menu.
   */
  /*.menu-widgets {
    margin-top: 3em;
  }*/

  /**
   * Floating labels should be shown inside the container instead of floating.
   */
  .ui.floating.label {
    position: initial;
    float: right;
  }
} /* Sidebar menu */
