blockquote, q, address {
  margin: 20px 0;
  padding-left: 1.5em;
  border-left: 5px solid @primaryColor;
}

blockquote, q {
  font-size: 1.14em;
}

kbd {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  background-color: rgb(241, 241, 241);
  padding: 0.05em 0.3em;
  font-size: 0.9em;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  margin: 0 0.3em;
}

abbr[title], acronym[title] {
  text-decoration: none;
  border-bottom: 1px dotted;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.browsehappy.message {
  margin: 0;
  border-radius: 0;
}

/**
 * Inverted paragraph.
 */
p.inverted {
  color: @invertedTextColor;
}

/**
 * Empty line paragraph.
 */
p.empty-line {
  user-select: none;
}

code {
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  display: inline-block;
  font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", monospace;
  font-size: 0.875em;
  font-weight: bold;
  padding: 1px 6px;
  vertical-align: baseline;
}

.center.aligned.image {
  img {
    margin: 0 auto;
  }
}

/**
 * Highlighted text.
 */
mark {
  color: @black;
  padding: 1px 3px;
  background: fade(#ff0, 50);
  border-radius: 1px;
}

/**
 * Vertically separate text with .ui.pipe.
 */
.ui.pipe {
  display: inline;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0 0.5em;
}
