/**
 * CSS for all loops.
 */
.items.loop,
.grid.loop,
.cards.loop {
  /**
   * Loop item.
   */
  article .content {
    /**
     * The title.
     */
    a.header {
      /**
       * Prevent overflow.
       */
      display: block !important;
    }

    /**
     * Meta.
     */
    .meta {
      /**
       * Move meta closer to titles.
       */
      /*margin-top: 0;*/
      margin: @chapLoopMetaMargin;
    }

    /**
    * Don't use reduced paragraph margins that items and cards use.
    */
    p {
      margin: @chapLoopParagraphMargin;
    }

    /**
     * Excerpt/content.
     */
    .description {}

    /**
     * Read more, categories, tags.
     */
    .extra {
      .read-more {
        display: flex;
        align-items: baseline;
        flex-wrap: nowrap;
        float: left;
        font-size: @chapLoopReadMoreFontSize;
        font-weight: @chapLoopReadMoreFontWeight;
        min-height: @chapLoopReadMoreMinHeight;
        margin: @chapLoopReadMoreMargin;
        padding: @chapLoopReadMorePadding; // Line up with meta labels.

        & > .icon {
          margin: @chapLoopReadMoreIconMargin;
        }
      }

      .meta.labels {
        min-height: @chapLoopMetaLabelsMinHeight;
        margin: @chapLoopMetaLabelsMargin;
      }
    }
  }
}

/**
 * Items loop.
 */
.items.loop {
  article.item .content {
    /**
     * Fix header overflowing.
     */
    a.header {
      display: block;

      /**
       * Match extra content's bottom spacing so divided items look centered.
       */
      /*margin-top: 0.25em !important;*/
      margin: @chapItemsLoopHeaderMargin;
    }
  }
  article.item .image + .content {
    a.header {
      /*margin-top: 0 !important;*/
      margin: @chapItemsLoopHeaderMarginWithImage;
    }
  }
}

/**
 * Limit column and card image height.
 */
.grid.loop,
.cards.loop {
  article {
    a.image {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }
  }
}

/**
 * Grid loop.
 */
.grid.loop {
  article {
    /**
     * Separate image from content.
     */
    & > .image + .content {
      margin-top: 0.5em;
    }

    & > .content {
      .marginless.header + .meta {
        margin-bottom: 1rem;
      }

      .meta {
        & > time {
          margin-right: 0.25em;
        }
      }

      .meta + .image {
        margin-bottom: 1em;
      }

      .extra {
        /**
         * Right align meta labels.
         */
        .meta.labels {
          float: right;
          justify-content: flex-end;
        }
      }
    }
  }
}

/**
 * Cards loop.
 */
.cards.loop {
  .extra.content {
    .ui.meta.labels {
      float: left;
      clear: left;
      &:first-child {
        .label {
          margin-top: 0 !important;
        }
      }
    }
  }
}

/**
 * Labels that display tags and categories for loop items.
 */
.ui.meta.labels {
  display: flex !important;
  align-items: center;
  flex-wrap: wrap;

  .ui.label {
    /**
     * Override WC,
     * separate on mobile.
     */
    margin-top: 0.5em !important;
    margin-bottom: 0 !important;

    /**
     * Don't use min-width of 3em that horizontal labels have.
     */
    min-width: auto;

    /**
     * The main label, containing an
     * icon describing other labels.
     */
    &.transparent {
      margin-right: 0;

      & > .icon {
        margin: 0;
      }
    }

    /**
     * Separate .ui.tag.label more.
     */
    &.tag {
      margin-left: 1.5em;
    }
  }
}

/**
 * Don't inherit sticky menu's z-index.
 */
.ui.sticky.label {
  z-index: 0;
}

/**
 * Separate loop nagivation.
 */
// .ui.pagination.menu:not(.comment-pagination) {
//   margin-top: 3em;
// }
