/**
 * Comments.
 */
section.ui.comments#comments {
  margin: @chapCommentsMargin;
  max-width: initial;

  .comment > .avatar > img {
    height: auto;
  }

  @media only screen and (max-width: @computerBreakpoint) {
    .comments {
      margin: -1.5em 0 -1em 0;
      padding: 3em 0 1.5em 2em;
      box-shadow: none;
    }
  }


  @media only screen and (max-width: @tabletBreakpoint) {
    .comments {
      padding: 3em 0 1.5em 1em;
    }
  }


  @media only screen and (max-width: @mobileBreakpoint) {
    .comments {
      padding: 3em 0 1em 0.25em;
    }
  }
}

/**
 * Respond.
 */
.comment-respond {
  margin: @chapCommentsRespondMargin;

  small {
    margin-left: 0.5em;
    font-size: 50%;
  }
}

/**
 * Comment form width.
 *
 * Applies to page/post comments as well as WC reviews form.
 */
.form.comment-form {
  max-width: @chapCommentFormMaxWidth;

  /**
  * Red color for required fields in comment form.
  */
  span.required {
    color: @red;
  }
}
