/**
 * CSS Helper classes.
 */


/**
 * Hide invisible elements.
 */
.invisible,
.amp-only,
.mobile-only {
  display: none !important;
}

/**
 * Remove borders.
 */
.borderless:not(.ui.menu) {
  border-top: 0 !important;
  border-right: 0 !important;
  border-bottom: 0 !important;
  border-left: 0 !important;
}

/**
 * Remove padding.
 */
.paddingless {
  padding-top: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
}

/**
 * Remove margin.
 */
.marginless {
  margin-top: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
}

/**
 * Remove shadows.
 */
.shadowless {
  text-shadow: none !important;
  box-shadow: none !important;
}

/**
 * Contain contents.
 */
.containing {
  overflow: hidden !important;
}

/**
 * Text color classes.
 */
.text:not(.container) {
  &.red      { color: @red; }
  &.orange   { color: @orange; }
  &.yellow   { color: @yellow; }
  &.olive    { color: @olive; }
  &.green    { color: @green; }
  &.teal     { color: @teal; }
  &.blue     { color: @blue; }
  &.violet   { color: @violet; }
  &.purple   { color: @purple; }
  &.pink     { color: @pink; }
  &.brown    { color: @brown; }
  &.grey,
  &.gray     { color: @grey; }
  &.black    { color: @black; }
  &.white    { color: @white; }
  &.muted    { color: @mutedTextColor; }
  &.offwhite { color: darken(@white, 15); }
  &.normal   { font-weight: normal; }
  &.bold     { font-weight: bold; }
  &.italic   { font-style: italic; }
}

/**
 * Mobile helpers.
 */
@media only screen and (max-width: @largestMobileScreen) {
  /**
   * Mobile left aligned.
   */
  .mla {
    text-align: left !important;
  }
  /**
   * Mobile center aligned.
   */
  .mca {
    text-align: center !important;
  }
  /**
   * Mobile right aligned.
   */
  .mra {
    text-align: right !important;
  }
  /**
   * Mobile justified.
   */
  .mj {
    text-align: justify !important;
  }
}

/**
 * Responsive helpers.
 */
@media only screen and (max-width: @largestMobileScreen) {
  .mobile-invisible {
    display: none !important;
  }
  /**
   * Not needed, bus is kept for backwards compatibility.
   * Could use .lg-invisible.sm-invisible.tablet-invisible instead.
   */
  .mobile-only {
    display: initial !important;
  }
}
@media only screen and (min-width: @largestMobileScreen + 1) and (max-width: @largestTabletScreen) {
  .tablet-invisible {
    display: none !important;
  }
}
@media only screen and (min-width: @largestTabletScreen + 1) and (max-width: @largestSmallMonitor) {
  .sm-invisible {
    display: none !important;
  }
}
@media only screen and (min-width: @largestSmallMonitor + 1) {
  .lg-invisible {
    display: none !important;
  }
}
