/**
 * Masthead.
 *
 * Contains the chosen header template and slider/title.
 */
.ui.masthead.segment {
  z-index: @chapMastheadZIndex;
  padding: 0;
  margin: 0;
  border: 0;

  /**
   * Masthead background image is displayed in :after.
   */
  &:after {
    z-index: @chapMastheadZIndex - 21;
  }

  /**
   * Slides in masthead.
   */
  .ui.slide {
    position: relative;
    z-index: 0;

    /**
     * Slide background image is displayed in :after.
     */
    &:after {
      z-index: @chapMastheadZIndex - 11;
    }
  }

  /**
   * Remove default margins from primary menu.
   */
  #primary_menu {
    margin: 0;
  }

  /**
   * Container for masthead title.
   */
  .ui.title.container {
    border: 0;

    & > .ui.header {
      font-weight: @chapMastheadTitleFontWeight;

      @media only screen and (max-width: @chapMobileLayoutBreakpoint) {
        /**
         * Make long titles go to new line.
         */
        word-wrap: break-word;
        word-break: break-all;

        /**
         * Reset for sub headers.
         */
        .meta.sub.header {
          word-wrap: initial;
          word-break: initial;
        }
      }


      /**
       * Separate date from author.
       */
      .meta.sub.header {
        time {
          margin: @chapMastheadMetaDateMargin;
        }
      }
    }
  }

  /**
   * Masthead video container.
   */
  .ui.masthead-video.segment {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    /**
    * Masthead video.
    */
    #masthead_video {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: @chapMastheadZIndex - 11;
      min-width: 100%;
      min-height: 100%;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  /**
   * Contains the clip path of header.
   */
  .ui.masthead-clip.segment {
    z-index: @chapMastheadZIndex + 5;
  }

}
