/**
 * Composites.
 *
 * CSS for shortcode combinations for displaying (typically) front-page UI.
 *
 * Pre-defined composites can be inserted using the
 * "Insert Shortcode" button above the WordPress editor.
 */

/**
 * Opinionated defaults for font sizes in vertical stripe segments.
 */
.increased-font-sizes(@enabled) when (@enabled = true) {
  h1 {
    font-size: 2.2em;
  }

  h2 {
    font-size: 2.1em;
  }

  h3 {
    font-size: 2em;
  }

  h4 {
    font-size: 1.9em;
  }

  h5 {
    font-size: 1.8em;
  }

  p {
    font-size: 1.2em;
  }
}

/**
 * Separate certain elements when they follow each other.
 */
.auto-separation(@enabled) when (@enabled = true) {
    margin-top: 2em;
}

/**
 * Clear floated images.
 */
.clear-floated-images(@enabled) when (@enabled = true) {
  clear: both;
}

/**
 * Vertical stripe segments.
 */
.ui.vertical.stripe {
  border-bottom: @chapVerticalStripeBorderBottom;
  padding: @chapVerticalStripePadding;

  &.tight {
    padding: @chapTightVerticalStripePadding;
  }

  &[class*="very tight"] {
    padding: @chapVeryTightVerticalStripePadding;
  }

  &.padded {
    padding: @chapPaddedVerticalStripePadding;
  }

  &[class*="very padded"] {
    padding: @chapVeryPaddedVerticalStripePadding;
  }

  &.alternate {
    background-color: @chapAlternateBackgroundColor;
  }

  /**
   * Modified font sizes in vertical stripe segments, except article stripe segment.
   */
  &:not(.article) {
    .increased-font-sizes(@chapVerticalStripeUseIncreasedFontSizes);
  }

  /**
   * Horizontal divider in stripe segment.
   */
  .horizontal.divider {
    margin: @chapVerticalStripeHorizontalDividerMargin;
  }

  /**
   * Separate buttons and paragraphs from h3 in stripe segments.
   */
  .button + h3,
  p + h3 {
    .auto-separation(@chapVerticalStripeUseAutoSeparation);
  }

  /**
   * Clear floated images in stripe segments.
   */
  .floated.image {
    .clear-floated-images(@chapVerticalStripeClearFloatedImages);
  }

  /**
   * Last stripe segment.
   */
  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
  }

  /**
   * Feature stripe segment.
   */
  &.feature {
    padding: 3em 0; // Backwards compatibility.

    .column {
      display: flex;
      flex-direction: column;

      & > p,
      & > .button {
        margin-left: 1em;
        margin-right: 1em;
      }

      .ui.header {
        font-weight: normal;
      }

      p {
        flex: 1 0 auto;
        margin: 0.5em 0 2em;
        font-size: 1em;
      }
    }
  }

  /**
   * Email stripe segment.
   */
  &.email {
    .huge.input {
      max-width: 66%;
      margin: 0 auto;

      @media only screen and (max-width: @largestTabletScreen) {
        max-width: 100%;
      }
    }
  }

  /**
   * Quote stripe segment.
   */
  &.quote {
    padding: 0;

    .grid .column {
      padding-top: 5em;
      padding-bottom: 5em;
    }
  }

  /**
   * Last vertical stripe.
   * Can be used with footer bottom angle.
   */
  &.last {
    padding-bottom: 15em;
    margin-bottom: -5em;
  }
}

/**
 * Padded and alternate columns for grids.
 */
.ui.grid {
  .column {
    &.padded {
      padding: @chapPaddedColumnPadding;
    }

    &[class*="very padded"] {
      padding: @chapVeryPaddedColumnPadding;
    }

    &.alternate {
      background-color: @chapAlternateBackgroundColor;
    }
  }
}

/**
 * Consistent spacing for WC products composite.
 */
// .ui.vertical.stripe {
//   .ui.grid > .row {
//     .woocommerce .cards {
//       margin-bottom: -2.3em !important;
//     }
//   }
// }
