/*!
 * # Chap - RTL
 */

/*******************************
            Theme
*******************************/

@type : "chap";
@element : "rtl";

/*--------------------
   Site Variables
---------------------*/

/* Default site.variables */
@import "@{themesFolder}/default/globals/site.variables";

/* Component's site.variables */
@import "@{themesFolder}/@{theme}/globals/site.variables";

/* Site theme site.variables */
@import "@{siteFolder}/globals/site.variables";

/*-------------------
 Component Variables
---------------------*/

/* Default */
@import "@{themesFolder}/default/@{type}/@{element}.variables";

/* Packaged Theme */
@import "@{themesFolder}/@{theme}/@{type}/@{element}.variables";

/* Site Theme */
@import "@{siteFolder}/@{type}/@{element}.variables";


/*-------------------
    Chap RTL CSS
---------------------*/

body.rtl {

  /**
  * Fix divided grid in RTL.
  */
  .ui.divided.grid:not([class*="vertically divided"]) {
    & > .column,
    & > .row > .column {
      &:first-child {
        box-shadow: -1px 0px 0px 0px @borderColor !important;
      }
      &:last-child {
        box-shadow: none !important;
      }
    }
    &.inverted {
      & > .column,
      & > .row > .column {
        &:first-child {
          box-shadow: -1px 0px 0px 0px @whiteBorderColor !important;
        }
        &:last-child {
          box-shadow: none !important;
        }
      }
    }
  }

  /**
  * Fix morph popups in RTL.
  */
  .chap-morph {
    left: initial;
    right: 0;

    .ui.morph.popup {
      left: initial;
      right: 0;
    }
  }

}

/*-------------------
 Component Overrides
---------------------*/

/* Packaged Theme */
@import "@{themesFolder}/@{theme}/@{type}/@{element}.overrides";

/* Site Theme */
@import "@{siteFolder}/@{type}/@{element}.overrides";
