/**
 * WooCommerce buttons.
 *
 * WC also uses the .button class so we need to override hard for Semantic UI buttons.
 */
.woocommerce {
  @import "@{themesFolder}/default/elements/button.variables";
  @import "@{themesFolder}/@{theme}/elements/button.variables";
  @import "@{siteFolder}/elements/button.variables";

  a.button,
  button.button,
  input.button,
  #respond input#submit {
    /**
     * Use SUI variables for button styles defined by WC.
     */
    font-size: @medium;
    font-weight: @fontWeight;
    margin: 0em @horizontalMargin @verticalMargin 0em;
    line-height: @lineHeight;
    padding: @verticalPadding @horizontalPadding (@verticalPadding + @shadowOffset);
    border-radius: @borderRadius;
    color: @textColor;
    background: @background;
    border: none;
    box-shadow: @boxShadow;

    /**
     * Use primary button variables for WC alt button.
     */
    &.alt {
      background-color: @primaryColor !important;
      color: @primaryTextColor !important;
      text-shadow: @primaryTextShadow !important;
      background-image: @coloredBackgroundImage !important;
      box-shadow: @coloredBoxShadow !important;

      &.positive {
        background-color: @positiveColor !important;
        color: @positiveTextColor !important;
        text-shadow: @positiveTextShadow !important;
      }
    }
  }
} /* .woocommerce */
