.woocommerce {

  /**
   * Checkout form.
   */
  .ui.checkout.form,
  .ui.form#order_review {
    /**
     * Separate the form.
     */
    #customer_details {
      margin: @wcCheckoutCustomerDetailsMargin;
    }

    /**
     * Use pointer cursor for checkboxes.
     */
    .ui.checkbox {
      label {
        cursor: pointer;
      }
    }

    /**
     * Fix checkmark positioning in checkbox.
     */
    .wc-terms-and-conditions.ui.checkbox label:after,
    label[for="createaccount"]:after {
      top: initial;
    }

    .woocommerce-shipping-fields {
      margin: @wcCheckoutShippingFieldsMargin; // Match billing details.

      .shipping_address {
        margin-bottom: 1.5em; // Separate with order notes.
      }
    }
  }

} /* .woocommerce */
