/**
  * Cart.
  */
.woocommerce {

  /**
   * Cart table.
   */
  .unstackable.shop_table.cart {
    /**
     * Reduce padding to decrease overall cart table height.
     */
    td.product-quantity {
      padding-top: 0.3em;
      padding-bottom: 0.1em;
    }

    /**
     * Limit coupon input's width.
     */
    .coupon-container {
      width: @wcCartCouponContainerWidth;
      float: left;
    }

    /**
     * Don't allow WC CSS to change the update cart buttons text color when disabled.
     */
    .ui.update_cart.button:disabled {
      color: @invertedTextColor;
    }

    /**
     * Responsive cart table.
     */
    @media only screen and (max-width: @wcSmallscreenCSSBreakpoint) {
      tbody {
        tr {
          /**
           * Separate products.
           */
          border-bottom: 1px solid rgba(34, 36, 38, 0.1);

          /**
           * Product info.
           */
          td {
            /**
             * Move info to the right.
             */
            display: flex;
            align-items: center;
            justify-content: flex-end;
            background: transparent;
            border: 0;
            padding: 0.5em;

            &:before {
              padding-right: 0.5em;
            }

            /**
             * Push the labels to the left.
             */
            & > .ui.header,
            & > span.amount,
            & > div.quantity.input,
            &.product-remove > a {
              width: 100%;
            }

            /**
             * Center the remove button.
             */
            &.product-remove > a {
              text-align: center;
            }
          }
        }
      }

      /**
       * Coupon input and update cart button.
       */
      tfoot {
        tr {
          th {
            /**
             * Move elements to the center.
             */
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            border-top: 0;

            .coupon-container {
              width: 100%;
              max-width: @wcCartCouponContainerWidth;
              float: initial;
              margin-bottom: 0.5em;
            }
          }
        }
      }
    }
  }

  /**
   * Fix white-space.
   */
  .mini_cart_item,
  .shop_table.cart {
    .sub.header.product_meta {
      white-space: pre-line;
    }
  }


  /**
   * Fix
   * At certain resolutions WC responsiveness won't be
   * kicked in and cart will try to overflow sidebar.
   */
  @media only screen and (max-width: @largestSmallMonitor) and (min-width: @wcSmallscreenCSSBreakpoint) {
    .woocommerce-cart-form {
      overflow-x: scroll;
    }
  }

} /* .woocommerce */
