.woocommerce {

  /**
   * Shipping method choices at Cart Totals and Checkout.
   */
  #shipping_method.list {
    label {
      cursor: pointer;
    }
  }

  /**
   * Reset form rows. Using Semantic UI's
   * field class for styling forms.
   */
  .form-row.field {
    clear: initial !important;
    padding: initial !important;
  }

  /**
   * Order received page piled segment spacing.
   */
  .ui.piled.order_details.segment {
    margin: @wcOrderDetailsMargin;
  }

  /**
   * Misc forms.
   */
  .login.form,
  .register.form,
  .lost_reset_password.form,
  .checkout_coupon.form {
    padding: @wcFormPadding;
    border: @wcFormBorder;

    /**
     * Remove label.
     */
    .labelless.field {
      label {
        display: none;
      }
    }

    /**
     * Column max width.
     */
    .column {
      max-width: @wcFormColumnMaxWidth;
    }

    /**
     * Hide password strenght meters.
     */
    .woocommerce-password-strength,
    .woocommerce-password-hint {
      display: none !important;
    }
  }

  /**
   * .woocommerce-result-count
   * @see semantic-ui/chap/modules/dropdown.overrides
   */
  .woocommerce-result-count + .ui.products.cards {
    clear: left;
  }

  /**
   * Old price.
   */
  del {
    color: @wcOldPriceColor;
  }

  /**
   * New price.
   */
  ins {
    text-decoration: none;
  }

  /**
   * Override WC loading spinner.
   */
  .ui.add_to_cart_button.loading {
    &:after {
      top: 50% !important;
    }
  }

  /**
   * Product category description on loop page.
   */
  .term-description {
    margin: @wcTermDescriptionMargin;
  }

  /**
   * Star rating color.
   */
  .star-rating {
    color: @wcStarRatingColor;
  }

  /**
   * Prevent text overlapping with icon in WC error messages.
   */
  .woocommerce-error:not(.ui) {
    padding-left: 3.5em;
  }

} /* .woocommerce */


/**
 * Standardize some UI elements sizes.
 */
.small.quantity.input,
.ui.single_add_to_cart_button,
.ui.action.coupon.input,
.ui.update_cart.button {
  min-height: @wcStandardElementHeight;
}

/**
 * Quantity input.
 */
.small.quantity.input {
  input.qty {
    width: @wcQuantityInputWidth;
  }
}

/**
 * Fix affiliate product button line height.
 */
a.secondary.single_add_to_cart_button {
  display: inline;
}

/**
 * Pad WC content in slides.
 */
.csc-slide {
  .woocommerce {
    padding: @wcContentPaddingInSlides;
    .star-rating {
      float: left !important;
    }
  }
}
