.normal-card-buttons(@enabled) when (@enabled = true) {
  margin: 0;
  width: 100%;
}

.normal-added-to-cart-button(@enabled) when (@enabled = true) {
  margin-left: -1px;
  margin-right: -1px;
  margin-bottom: -1px;
  width: ~"calc(100% + 2px)";
}

.wider-added-to-cart-button(@enabled) when not (@enabled = true) {
  margin-left: -2px;
  margin-right: -2px;
  margin-bottom: -1px;
  width: ~"calc(100% + 4px)";
}

.break-titles(@enabled) when (@enabled = true) {
  .content {
    .header {
      a {
        word-wrap: break-word;
        word-break: break-all;
      }
    }
  }
}

.woocommerce {

  /**
   * Product card.
   */
  .ui.product.card {
    /**
     * Center the card image link contents (the image).
     * Max-height is assigned in theme options.
     */
    & > .ui.image > a {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }

    /**
     * Categories.
     */
    .meta {
      /**
       * Category link.
       */
      & > a {
        margin-right: 0;
      }
    }

    /**
     * Rating.
     */
    .star-rating {
      color: @wcProductCardStarRatingColor;
      margin: @wcProductCardStarRatingMargin;
    }

    /**
     * Break long product titles.
     */
    .break-titles(@wcProductCardBreakLongTitles);

    /**
     * No longer appear as bottom attached.
     */
    .ui.bottom.attached.add_to_cart_button.button.added {
      border-radius: 0;
    }

    .ui.bottom.attached.added_to_cart.button {
      .normal-added-to-cart-button(@wcProductCardNormalizeButtons);
      .wider-added-to-cart-button(@wcProductCardNormalizeButtons);
    }

    &:hover {
      transform: @wcProductCardHoverTransform;
    }
  }

  /**
   * Buttons flow over the cards by default, disable it.
   */
  .ui.card > .button,
  .ui.card > .buttons,
  .ui.cards > .card > .button,
  .ui.cards > .card > .buttons {
    .normal-card-buttons(@wcProductCardNormalizeButtons);
  }

  /**
   * Remove link hover effect from category card.
   */
  a.card.product-category:hover {
    transform: @wcProductCardHoverTransform;
  }

} /* .woocommerce */
