.woocommerce {

  /**
   * Single product images.
   */
  .woocommerce-product-gallery {
    .woocommerce-product-gallery__wrapper {
      margin: @wcProductGalleryWrapperMargin;
    }

    .woocommerce-product-gallery__image {
      margin-bottom: @wcProductGalleryImageSpacing;
    }

    .woocommerce-product-gallery__image:nth-child(n+2) {
      width: @wcProductGalleryImageWidth;
      margin-right: @wcProductGalleryImageSpacing;
    }

    .woocommerce-product-gallery__image:nth-child(3n+1) {
      margin-right: 0;
    }
  }

  /**
   * Single product summary.
   */
  .summary {
    /**
     * Main price.
     */
    .price:not(td) {
      font-size: @wcProductSummaryPriceSize;
      color: @wcProductSummaryPriceColor;
    }

    /**
     * In stock text.
     */
    .stock {
      &.in-stock {
        color: @wcProductInStockColor;
      }
    }

    /**
     * Reduce old price size in summary.
     */
    del {
      font-size: @wcProductOldPriceSize;
    }

    /**
     * Review link color.
     */
    .woocommerce-review-link {
      color: @wcProductReviewLinkColor;
    }

    /**
     * Separate the summary text.
     */
    .ui.short-description.segment {
      margin: @wcProductDescriptionMargin;
      &.piled {
        z-index: 0;
      }
    }

    /**
     * Add bottom margin in case of mobile.
     */
    .ui.quantity.input {
      margin: @wcProductQuantityInputMargin;
    }

    /**
     * Variations table.
     */
    .ui.variations.table {
      /**
       * Hide original dropdowns (replacements are created).
       */
      .variation_dropdown {
        display: none !important;
      }

      /**
       * Move the reset button off-screen.
       */
      .reset_variations {
        position: absolute !important;
        top: -10000px !important;
      }
    }

    /**
     * The dynamic price that shows up after selecting variations.
     */
    .woocommerce-variation-price {
      margin: @wcProductVariationPriceMargin;
    }

    /**
     * Product variation text alignment.
     */
    .variations_form.cart .variations td {
      vertical-align: middle !important;
    }

    /**
     * Grouped product table.
     */
    .cart .group_table {
      border-bottom: 0;

      td {
        vertical-align: middle !important;
        padding: @wcProductGroupPadding;

        &.collapsing {
          padding-left: 0 !important;
        }

        .quantity.input {
          float: left;
          margin: 0 !important;

          @media only screen and (max-width: @largestTabletScreen) {
            float: none;
          }
        }
      }
    }

    /**
     * Product meta.
     */
    // .product_meta {
    //   & > span {
    //     float: left;
    //     clear: both;

    //     /**
    //      * Separate last.
    //      */
    //     &:last-child {
    //       margin-bottom: 1em;
    //     }
    //   }
    // }

    /**
     * Don't allow WC CSS to change the add to cart buttons text color when disabled.
     */
    .ui.single_add_to_cart_button.button.disabled {
      color: @invertedTextColor;
    }

  } //.summary

  /**
   * Single product tabs.
   */
  .wc-tabs-wrapper {
    /**
     * Separate from related products.
     */
    margin: @wcProductTabsMargin;

    /**
     * Use tabular menu styled tabs.
     */
    .ui.tabular.stackable.menu {
      /**
       * Reset padding.
       */
      padding-left: 0;

      /**
       * Tab.
       */
      .item {
        /**
         * Responsive tab.
         */
        @media only screen and (max-width: @largestMobileScreen) {
          border: 0;

          &:not(.active) {
            a {
              font-weight: initial;
            }
          }

          &.active:last-child {
            border-bottom: 1px solid #D4D4D5;
          }
        }
      }
    }

    /**
     * Reviews tab.
     */
    #reviews {
      #comments {
        max-width: initial; // Remove limit from SUI.
        ol.commentlist {
          li {
            /**
             * Pad comment text.
             */
            .comment-text {
              padding: 1em;
            }
          }
        }
      }

      #review_form {
        .comment-form-rating {
          /**
           * Star rating.
           */
          .stars {
            a {
              color: @wcProductReviewStarRatingColor;
              font-size: @wcProductReviewStarRatingSize;
              margin: @wcProductReviewStarRatingMargin;
            }
          }
        }
      }
    }
  }

  /**
   * Variation unavailable.
   * @see woocommerce/single-product/add-to-cart/variation.php
   */
  .chap-variation-unavailable {
    margin-bottom: 2em;
  }

  /**
   * Upsells, related products.
   */
  .upsells.products,
  .related.products {
    clear: both;
    margin-bottom: 2em;

    @media only screen and (max-width: @largestMobileScreen) {
      h2 + .mobile.stackable.cards {
        margin-top: 1em;
      }
    }
  }

} /* .woocommerce */
