/**
 * Cart widget.
 */
.widget_shopping_cart_content {
  /**
   * Remove border.
   */
  p.total {
    border-top: 0 !important;
  }
}

/**
 * Cart widget modal.
 */
.cart_widget.small.modal {
  & > .close {
    top: 1.0535rem;
    right: 1rem;
    color: @darkTextColor;
  }

  .widget_shopping_cart_content {
    p.total {
      font-size: 1.1em;
      margin-bottom: 0;
    }
  }

  /**
   * Remove buttons. Modal has it's own buttons.
   * Remove the clearing divider, only needed in sidebars.
   */
  .ui.tiny.button.wc-forward,
  .ui.hidden.clearing.divider {
    display: none;
  }
}

/**
 * Cart widget in footer.
 */
.ui.footer.segment {
  .mini_cart_item {
    .ui.sub.header.quantity {
      float: left;
    }
  }

  &.inverted {
    .mini_cart_item {
      /**
       * Item count and price.
       */
      .ui.sub.header {
        color: @invertedTextColor;
      }
      .sub.header.product_meta {
        color: @invertedLightTextColor;
      }
    }
  }
}

/**
 * Layered nav widget.
 */
.chap_widget_layered_nav {
  /**
   * Remove ul padding.
   */
  ul.menu {
    padding-left: 0;
  }
}

/**
 * Product list widgets.
 */
.product_list_widget {
  .item {
    .avatar {
      margin-top: 2px !important;
    }
  }
}

/**
 * Price filter widget.
 */
&.widget_price_filter  {
  .price_slider_wrapper {
    .ui-slider-handle {
      top: -0.23em !important;
    }

    .price_slider {
      background-color: @secondaryColor !important;
      & > .ui-slider-range {
        background-color: @primaryColor !important;
      }
      & > .ui-slider-handle {
        background-color: @primaryColorHover !important;
      }
    }

    .price_slider_amount {
      .ui.tiny.button {
        font-size: @absoluteTiny;
      }
    }
  }

  .adjacent.price_label {
    float: right !important;
  }
}

/**
 * Widgets with star rating.
 */
.widget_top_rated_products,
.widget_recent_reviews {
  .star-rating {
    font-size: @wcWidgetStarRatingSize;
    margin-top: @wcWidgetStarRatingMargin;
    color: @wcWidgetStarRatingColor;
  }
}
.ui.inverted.footer.segment {
  .widget_top_rated_products,
  .widget_recent_reviews {
    .star-rating {
      color: @wcWidgetInvertedStarRatingColor;
    }
  }
}

/**
 * Add ellpisi to widgets:
 *  - Products
 *  - Cart
 *  - Top rated products
 *  - Recently viewed products
 *  - Recent reviews
 */
.product_list_widget {
  .left.floated.content {
    max-width: ~"calc(100% - 28px - 0.5em)";
    margin-right: 0;

    .header {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .sub.header.product_meta {
      white-space: pre;
    }
  }

  &.cart_list, &.product_rating {
    .right.floated.content {
      margin-left: 0;
    }

    .left.floated.content {
      max-width: ~"calc(100% - 28px - 3em)";
    }
  }
}

/**
 * Average rating widget in inverted footer.
 */
.ui.inverted.footer.segment {
  .widget_rating_filter {
    .wc-layered-nav-rating {
      a {
        color: @invertedTextColor;
      }
    }
  }
}

/**
 * Old price in inverted footer.
 */
.ui.inverted.footer.segment {
  del {
    .amount {
      color: @invertedLightTextColor;
    }
  }
}
