.chap-shortcode-modal .chap-postbox {
  min-width: 255px;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  background: #fff;
  margin: 5px;
}

.chap-shortcode-modal .chap-postbox .handlediv {
  display: block;
  float: right;
  width: 36px;
  height: 36px;
  padding: 0;
}

.chap-shortcode-modal .toggle-indicator:before {
  content: "\f142";
  display: inline-block;
  font: 400 20px/1 dashicons;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none !important;
}

.chap-shortcode-modal .closed .toggle-indicator:before {
  content: "\f140";
}

.chap-shortcode-modal .chap-postbox .hndle {
  font-size: 14px;
  padding: 8px 12px;
  margin: 0;
  line-height: 1.4;
  cursor: pointer;
  background-color: #fcfcfc;
}

.chap-shortcode-modal .chap-postbox.closed .hndle {
  background-color: initial;
}

.chap-shortcode-modal .inside {
  margin-bottom: 10px;
}

.chap-shortcode-modal .inside p {
  padding: 0 12px !important;
}

.chap-shortcode-modal .inside .embed-shortcode {
  display: block;
  position: relative;
  padding: 6px 12px;
  margin: 0;
  z-index: 250;
  background: #fff;
  font-size: 14px;
}

.chap-shortcode-modal .inside .embed-shortcode-field {
  font-size: 18px;
  padding: 6px 10px;
  width: 100%;
  min-width: 200px;
  -webkit-box-shadow: inset 2px 2px 4px -2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 2px 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.chap-shortcode-modal .inside textarea.embed-shortcode-field {
  font-size: 12px;
}

@media (max-width: 425px) {
  /**
   * Two tab rows in mobile.
   */
  .chap-shortcode-modal .media-frame-content {
    top: 110px !important;
  }
}

.chap-shortcode-modal .inside p.composite.image {
  text-align: center;
}

.chap-shortcode-modal .inside p.composite.image > img {
  max-width: 400px;
  max-height: 300px;
  width: auto;
  height: auto;
}

@media screen and (max-width: 782px) {
  .chap-shortcode-modal .inside p.composite.image > img {
    max-width: 80%;
  }
}

.chap-shortcode-modal .docs_toggle {
  margin-bottom: 0;
  cursor: pointer;
  font-weight: bold;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
}

.chap-shortcode-modal .docs_wrapper {
  margin: 4px 14px 10px;
}

.chap-shortcode-modal .docs {
  font-family: monospace;
}

.chap-shortcode-modal .docs .arg {
  display: inline-block;
  font-weight: bold;
  min-width: 110px;
}

.chap-shortcode-modal .docs > .docs {
  margin-left: 6px;
}

.chap-shortcode-modal .docs > .docs > .arg {
  min-width: 98px;
  text-align: right;
  padding-right: 6px;
  font-weight: normal;
}

.chap-shortcode-modal .online-docs {
  float: right;
  margin-top: 1px;
  padding-right: 12px;
}

.chap-shortcode-modal .online-docs.dashicons-before:before {
  font-size: 13px;
  text-decoration: none;
  line-height: 20px;
  width: 15px;
}

.form-table.shortcodes-table tr {
  margin-bottom: 5px !important;
}

.form-table.shortcodes-table th {
  width: 150px !important;
  padding: 0 0 25px !important;
}

.form-table.shortcodes-table td {
  vertical-align: top;
  padding: 0 5px !important;
}

.chap-button-divider {
  position: relative;
  display: inline-block;
  width: 0;
  height: 28px;
  z-index: 3;
}

.chap-button-divider:before {
  position: absolute;
  border-radius: 500rem;
  content: '';
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  width: 26px;
  height: 26px;
  font-style: normal;
  font-weight: 700;
  box-shadow: 0 0 0 1px transparent inset;
  background-color: #23282d;
  background-position: -5px -4px;
}

.wp-editor-tools > .wp-media-buttons > .btn-chap-insert-shortcode {
  margin-right: 0;
  padding-right: 16px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.wp-editor-tools > .wp-media-buttons > .btn-chap-insert-composite {
  margin-left: -4px;
  padding-left: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@media screen and (max-width: 782px) {
  .chap-button-divider:before {
    margin-top: -7px;
    margin-left: -16px;
    width: 32px;
    height: 32px;
    background-position: -2px -1px;
  }

  .wp-editor-tools > .wp-media-buttons > .btn-chap-insert-shortcode {
    padding-right: 20px !important;
  }

  .wp-editor-tools > .wp-media-buttons > .btn-chap-insert-composite {
    padding-left: 24px !important;
  }
}

/**
 * Info text in the modal.
 */
p.csc-modal-info {
  margin: 5px 8px;
}
