/*!
 * # Chap - Slider
 * https://chap.website
 *
 * Custom Semantic UI component for integrating
 * of Swiper Slider into Chap WordPress theme.
 */

/*******************************
            Theme
*******************************/

@type    : 'element';
@element : 'slider';

/*--------------------
   Site Variables
---------------------*/

/* Default site.variables */
@import "@{themesFolder}/default/globals/site.variables";

/* Component's site.variables */
@import "@{themesFolder}/@{theme}/globals/site.variables";

/* Site theme site.variables */
@import "@{siteFolder}/globals/site.variables";


/*-------------------
 Component Variables
---------------------*/

/* Default */
@import "@{themesFolder}/default/@{type}s/@{element}.variables";

/* Packaged Theme */
@import "@{themesFolder}/@{theme}/@{type}s/@{element}.variables";

/* Site Theme */
@import "@{siteFolder}/@{type}s/@{element}.variables";


/*******************************
            Slider
*******************************/

/**
 * Slider main container.
 */
.swiper-container {
  @media only screen and (max-width: @sliderHideControlsBreakpoint) {
    /* Hide controls on small devices */
    & > div:not(.swiper-wrapper) {
      display: none;
    }
  }
}


/*******************************
            Slide
*******************************/

.ui.slide {
  color: @slideTextColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: @slidePadding; // Pad the slide to not overflow the controls.
  text-shadow: @slideTextShadow;

  /* Reduce padding on small devices when controls are hidden */
  @media only screen and (max-width: @sliderHideControlsBreakpoint) {
    padding: @slideMobilePadding;
  }

  /* Responsive font sizes in slides */
  @media only screen and (min-width: @gcMobileSmall)  { font-size: @slideSmallMobileFontSize; }
  @media only screen and (min-width: @gcMobileMedium) { font-size: @slideMediumMobileFontSize; }
  @media only screen and (min-width: @gcMobileLarge)  { font-size: @slideLargeMobileFontSize; }
  @media only screen and (min-width: @gcTablet)       { font-size: @slideTabletFontSize; }
  @media only screen and (min-width: @gcLaptop)       { font-size: @slideLaptopFontSize; }
  @media only screen and (min-width: @gcLaptopLarge)  { font-size: @slideLargeLaptopFontSize; }

  /* Containers in slides */
  .ui.text.container {
    /* Don't use text container font modifieres */
    font-size: inherit;
    line-height: initial;

    /* Make text containers full width on smaller devices */
    @media only screen and (max-width: @sliderHideControlsBreakpoint) {
      width: 100% !important;
    }
  }

  /* Responsive segment font sizes in slides */
  .ui.mini.segments    .segment, .ui.mini.segment     { font-size: @slideMiniSegmentFontSize; }
  .ui.tiny.segments    .segment, .ui.tiny.segment     { font-size: @slideTinySegmentFontSize; }
  .ui.small.segments   .segment, .ui.small.segment    { font-size: @slideSmallSegmentFontSize; }
  .ui.segments         .segment, .ui.segment          { font-size: @slideSegmentFontSize; }
  .ui.large.segments   .segment, .ui.large.segment    { font-size: @slideLargeSegmentFontSize; }
  .ui.big.segments     .segment, .ui.big.segment      { font-size: @slideBigSegmentFontSize; }
  .ui.huge.segments    .segment, .ui.huge.segment     { font-size: @slideHugeSegmentFontSize; }
  .ui.massive.segments .segment, .ui.massive.segment  { font-size: @slideMassiveSegmentFontSize; }

  /* Responsive button font sizes in slides */
  .ui.mini.buttons    .button, .ui.mini.button        { font-size: @slideMiniButtonFontSize; }
  .ui.tiny.buttons    .button, .ui.tiny.button        { font-size: @slideTinyButtonFontSize; }
  .ui.small.buttons   .button, .ui.small.button       { font-size: @slideSmallButtonFontSize; }
  .ui.buttons         .button, .ui.button             { font-size: @slideButtonFontSize; }
  .ui.large.buttons   .button, .ui.large.button       { font-size: @slideLargeButtonFontSize; }
  .ui.big.buttons     .button, .ui.big.button         { font-size: @slideBigButtonFontSize; }
  .ui.huge.buttons    .button, .ui.huge.button        { font-size: @slideHugeButtonFontSize; }
  .ui.massive.buttons .button, .ui.massive.button     { font-size: @slideMassiveButtonFontSize; }
}

/* Slide contents alignment */
.ui.slide[class*="left aligned"] {
  align-items: flex-start;
}
.ui.slide[class*="right aligned"] {
  align-items: flex-end;
}
.ui.slide[class*="top aligned"] {
  justify-content: flex-start;
}
.ui.slide[class*="bottom aligned"] {
  justify-content: flex-end;
}

/* Inverted elements in slides */
.ui.slide .inverted {
  /* Use inverted text color for anything inverted */
  color: @slideInvertedTextColor;
}

/* Headers in slides */
.ui.slide .ui.header {
  font-weight: @slideHeaderFontWeight;
  margin: @slideHeaderMargin;

  /* Massive header, a larger header size for slides only */
  &.massive {
    font-size: @slideMassiveHeaderFontSize;
    margin: @slideMassiveHeaderMargin !important;
  }

  /* Icon header */
  &.icon > .icon {
    /* Reduce icon header icon size on mobile */
    @media only screen and (max-width: @gcMobileLarge) {
      font-size: @slideHeaderIconMobileFontSize;
    }
  }
}

/* Paragraphs in slides */
.ui.slide p {
  max-width: 100%; // IE fix
  margin: @slideParagraphMargin;
}

/* Segments in slides */
.ui.slide .ui.segment {
  margin: @slideSegmentMargin;
  text-shadow: @slideSegmentTextShadow;

  /* Reduce segment padding on smaller devices */
  @media only screen and (max-width: @largestTabletScreen) {
    padding: @slideSegmentMobilePadding;
  }
}

/* Buttons in slides */
.ui.buttons {
  font-size: 1em;
}

/* Dividers in slides */
.ui.slide .ui.divider {
  margin: @slideDividerMargin;

  &.section {
    margin: @slideSectionDividerMargin;
  }
}

/* Forms in slides */
.ui.slide .ui.form {
  .field {
    /* Fix overflow problem */
    input,
    button,
    textarea,
    .ui.button {
      box-sizing: border-box;
    }
  }
}

/* Dropdowns in slides */
.ui.slide .ui.dropdown {
  /* Fix sizing problem */
  box-sizing: border-box;
  min-width: initial;
  text-shadow: none;
}

/* Responsive text container heights in slides */
.ui.slide .dot-ellipsis {
  max-height: @slideEllipsisHeight;

  &.short {
    max-height: @slideShortEllipsisHeight;
  }

  &.long {
    max-height: @slideLongEllipsisHeight;
  }

  &.full {
    max-height: @slideFullEllipsisHeight;
  }
}

/* Edit slide button */
.ui.slide .ui.button.edit_slide {
  position: absolute !important;
  top: 30px;
  right: 40px;
  font-size: 0.3em;

  /* Hide the edit slide button on smaller devices */
  @media only screen and (max-width: @sliderHideControlsBreakpoint) {
    display: none;
  }
}

/**
 * Remove opacity from icons on slides that aren't active.
 *
 * Fixes problem with slides where icons appear through
 * other slides when using cube or flip transition.
 */
.swiper-slide {
  i.icon,
  i.icon:before {
    transition: opacity .5s ease;
    opacity: @inactiveSlideIconOpacity;
  }
}
.swiper-slide.swiper-slide-active {
  i.icon,
  i.icon:before {
    opacity: inherit;
  }
}


/**
 * Don't show viewer when inside swiper, it will be moved outside.
 */
.swiper-wrapper .viewer-container {
  width: 0;
  height: 0;
}

/**
 * Things in Swiper sliders.
 */
.swiper-container {
  /**
   * Slides vertical alignment.
   */
  .swiper-wrapper[class*="middle aligned"] {
    align-items: center !important;
  }
  .swiper-wrapper[class*="bottom aligned"] {
    align-items: flex-end !important;
  }
  /**
  * Fix card buttons.
  */
  .ui.card {
    margin: 0 auto;
    .ui.attached.button {
      width: initial !important;
    }
  }
  /**
   * Fix grid rendering.
   */
  .swiper-wrapper.ui.loop.grid {
    flex-wrap: nowrap;
    margin: 0;
    & > .column {
      padding: 0;
    }
  }
}

/*-------------------
 Component Overrides
---------------------*/

/* Packaged Theme */
@import "@{themesFolder}/@{theme}/@{type}s/@{element}.overrides";

/* Site Theme */
@import "@{siteFolder}/@{type}s/@{element}.overrides";


